body {
  background-color: orange;
}

li {
  padding: 5px;
  margin: 5px;
  background: rgb(255, 0, 0);
}

.jumbotron {
  background-image: url('../images/rsz_burger.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin:20px;
  color: white;
  

  }
